Repository univention/ucsschool-id-connector: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

docs-linkcheck:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends build-essential python3-dev pipx
  - PIPX_BIN_DIR="/usr/local/bin" pipx install poetry
  - poetry --directory=src export -f requirements.txt --output requirements.txt
  - pip3 install -r requirements.txt

docs-spelling:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends build-essential python3-dev pipx
  - PIPX_BIN_DIR="/usr/local/bin" pipx install poetry
  - poetry --directory=src export -f requirements.txt --output requirements.txt
  - pip3 install -r requirements.txt

docs-html:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends build-essential python3-dev pipx
  - PIPX_BIN_DIR="/usr/local/bin" pipx install poetry
  - poetry --directory=src export -f requirements.txt --output requirements.txt
  - pip3 install -r requirements.txt

docs-pdf:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends build-essential python3-dev pipx
  - PIPX_BIN_DIR="/usr/local/bin" pipx install poetry
  - poetry --directory=src export -f requirements.txt --output requirements.txt
  - pip3 install -r requirements.txt

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

pages-review-url:
  stage: review
  script:
  - echo "DOC_REVIEW_URL=${CI_SERVER_PROTOCOL}://${CI_PROJECT_ROOT_NAMESPACE}.${CI_PAGES_DOMAIN}/-/${CI_PROJECT_PATH#${CI_PROJECT_ROOT_NAMESPACE}/}/-/jobs/$CI_JOB_ID/artifacts/out/$DOC_TARGET_NAME/index.html" > pages_review_url.env
  artifacts:
    reports:
  ...

pages-review:
  stage: review
  needs:
  - job: pages-review-url
  script:
  - 'true'
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: $DOC_REVIEW_URL

pages-staging:
  stage: staging
  image: $GIT_SYNC
  needs:
  - job: docs-merge-to-one-artifact
  script:
  - mv "$CI_PROJECT_DIR"/out/"$DOC_TARGET_NAME" public
  environment:
    name: staging/docs
    url: $CI_PAGES_URL
  artifacts:
    paths:
    - public

pages-production:
  stage: production
  script:
  - 'true'
  environment:
    name: production/docs
    url: https://docs.software-univention.de/ucsschool-id-connector/

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

upload_appcenter_scripts_to_test_appcenter:
  stage: production
  image: $APPCENTER_CONTROL_IMAGE
  script:
  - APP_VERSION="$(cat VERSION.txt)"
  - cd appcenter_scripts/
  - echo "updating $APP_NAME=$APP_VERSION"
  - cp preinst.tmpl preinst
  ...

documentation:
  stage: build
  trigger:
    include:
    - local: .gitlab-ci-docs.yml
    strategy: depend

fix: release date
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

ci: run docs in parallel
  .gitlab-ci/gitlab-ci.yml
Due: none

Issue #62: Product tests
  .gitlab-ci/gitlab-ci.yml
  .isort.cfg
  .pre-commit-config.yaml
  product_tests/README.rst
  product_tests/conftest.py
  product_tests/test_cli.py
  product_tests/test_http_api.py
  product_tests/test_logs.py
  product_tests/utils.py
Due: none

Update readme with renovate dashboard
  README.rst
Due: none

chore: serve swagger-ui-bundle directly instead of through CDN
  .pre-commit-config.yaml
  src/ucsschool_id_connector/http_api.py
  src/ucsschool_id_connector/static/redoc.standalone-2.0.0-rc.75.js
  src/ucsschool_id_connector/static/swagger-ui-5.17.14.min.css
  src/ucsschool_id_connector/static/swagger-ui-bundle-5.17.14.min.js
Due: none

chore: prepare 3.0.1 release
  .gitlab-ci/gitlab-ci.yml
  VERSION.txt
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
  src/pyproject.toml
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

chore: exclude docs redirect from OpenAPI schema
  src/ucsschool_id_connector/http_api.py
Due: none

Update README.rst
  README.rst
Due: none

Remove duplicate version numbers
  .gitlab-ci/gitlab-ci.yml
  Makefile
  README.rst
  VERSION.txt
Due: none

chore: version bump
  src/pyproject.toml
Due: none

Bug #57426: Fix automatic restart of ucsschool-id-connector after update-ca-certificates doesnt work as expected on systems upgraded from 4.4.
  files/ca-certificates/update.d/ucsschool-id-connector
  src/HISTORY.rst
  src/pyproject.toml
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

Issue #79: Fixed version strings.
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
  src/pyproject.toml
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

(chore): Fixing typos in History.rst .
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

chore: Update repository to 3.0.3
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
  src/pyproject.toml
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

Issue #84: fix curl pull
  .gitlab-ci/gitlab-ci.yml
Due: none

Issue #84: fix renovate config
  renovate.json
Due: none

Resolve "Role specific mapping broken for schools with upercase letters"
  appcenter_scripts/README_UPDATE_EN
  src/plugins/packages/ucsschool_id_connector_defaults/users_kelvin.py
Due: upload_appcenter_scripts_to_test_appcenter

Issue univention/components/ucsschool-id-connector#86: Release preparations
  .gitlab-ci/gitlab-ci-docs.yml
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

Issue univention/components/ucsschool-id-connector#86: Add missing date to update readme
  appcenter_scripts/README_UPDATE_EN
  src/pyproject.toml
Due: upload_appcenter_scripts_to_test_appcenter

chore[meta]: allow 5.2 installation
  appcenter_scripts/ucsschool-id-connector.ini
Due: upload_appcenter_scripts_to_test_appcenter

chore: add 5.1-0 to supported UCS versions for 3.0.4
  appcenter_scripts/ucsschool-id-connector.ini
Due: upload_appcenter_scripts_to_test_appcenter

chore: mark minified files as binary
  .gitattributes
Due: none

chore: update appcenter changelog
  appcenter_scripts/README_UPDATE_EN
Due: upload_appcenter_scripts_to_test_appcenter

fix: Trigger Cron UCR validation only once
  appcenter_scripts/README_UPDATE_EN
  appcenter_scripts/inst
Due: upload_appcenter_scripts_to_test_appcenter

ci: Automated release and commit message linting
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
  .pre-commit-config.yaml
  appcenter_scripts/ini
Due: upload_appcenter_scripts_to_test_appcenter

docs: Add changelog notes
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

ci: change pipeline for release testing.
  .gitlab-ci/gitlab-ci.yml
Due: none

revert: "ci: change pipeline for release testing."
  .gitlab-ci/gitlab-ci.yml
Due: none

docs: Add missing issue reference
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

feat: add changelog link to release
  .gitlab-ci/gitlab-ci.yml
Due: none

fix: wrong appname in mail header
  .gitlab-ci/gitlab-ci.yml
Due: none

fix: set email sender
  .gitlab-ci/gitlab-ci.yml
Due: none

docs: how to release the app
  README.rst
Due: none

chore: update appcenter logo
  .pre-commit-config.yaml
  appcenter_scripts/logo.svg
Due: upload_appcenter_scripts_to_test_appcenter

feat(docs): configuration to generate sitemap.xml
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

ci: Adjust job include path for docs jobs
  .gitlab-ci/gitlab-ci-docs.yml
Due: none

docs: fix syntax error and url
  docs/admin.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

ci: update repo path
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
  renovate.json
Due: none

ci: move ucsschool-ci-utils -> ci-components
  .gitlab-ci/gitlab-ci.yml
Due: none

Path conditions:
  docs-linkcheck: any of: docs/**/*, src/HISTORY.rst
  docs-spelling: any of: docs/**/*, src/HISTORY.rst
  docs-html: any of: docs/**/*, src/HISTORY.rst
  docs-pdf: any of: docs/**/*, src/HISTORY.rst
  docs-merge-to-one-artifact: any of: docs/**/*, src/HISTORY.rst
  pages-review-url: any of: docs/**/*, src/HISTORY.rst
  pages-review: any of: docs/**/*, src/HISTORY.rst
  pages-staging: any of: docs/**/*, src/HISTORY.rst
  pages-production: any of: docs/**/*, src/HISTORY.rst
  docs-create-production-merge-request: any of: docs/**/*, src/HISTORY.rst
  upload_appcenter_scripts_to_test_appcenter: any of: appcenter_scripts/**, files/**
  documentation: any of: docs/**/*, src/HISTORY.rst
