Repository univention/ucsschool-id-connector: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

review:
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  stage: review
  needs:
  - job: docs-merge-to-one-artifact
    artifacts: true
  script:
  - rsync -av --delete "$CI_PROJECT_DIR"/out/"$DOC_TARGET_NAME" /var/univention/buildsystem2/test_mirror/ftp/download/docs-ucsschool-id-connector.$CI_BUILD_REF_SLUG
  ...

pages:
  stage: staging
  image: $GIT_SYNC
  needs:
  - job: docs-merge-to-one-artifact
  script:
  - mv "$CI_PROJECT_DIR"/out/"$DOC_TARGET_NAME" public
  environment:
    name: pages/$CI_BUILD_REF_NAME
    url: https://univention.gitpages.knut.univention.de/components/$DOC_TARGET_NAME/
  artifacts:
    paths:
    - public
  ...

staging:
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  stage: staging
  script:
  - rsync -av --delete "$CI_PROJECT_DIR"/out/ /var/univention/buildsystem2/test_mirror/ftp/download/docs/"$DOC_TARGET_NAME"/
  environment:
    name: staging
    url: http://apt.knut.univention.de/download/docs/$DOC_TARGET_NAME/

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

Bug #54307: use new interface of ListenerUDMVersion=2
  .pre-commit-config.yaml
  src/plugins/packages/ucsschool_id_connector_defaults/user_handler_base.py
  src/tests/conftest.py
  src/tests/integration_tests/conftest.py
  src/tests/integration_tests/test_users.py
  src/tests/unittests/test_user_handler.py
Due: none

Bug #54307: version and changelog
  VERSION.txt
  appcenter_scripts/README_UPDATE_EN
  docs/conf.py
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #54307: adapt changelog
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #54307: adapt changelog
  README.rst
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #54307: add instructions on how to exchange docker containers
  README.rst
Due: none

Bug #54307: update readme
  README.rst
Due: none

Issue #10: Add LICENSE file to repository
  LICENSE
Due: none

Issue #11: Add metadata for reuse.software
  .reuse/dep5
  .reuse/templates/univention.jinja2
Due: none

Issue #11: Reuse.software requires LICENSES directory
  LICENSES/AGPL-3.0-only.txt
Due: none

Issue #11: Replace reuse downloaded AGPL-3.0-only license
  LICENSES/AGPL-3.0-only.txt
Due: none

Issue #11: Remove rsync exclude file
  docs/pipeline-rsync-exclude.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #18: Change copybutton configuration
  docs/admin.rst
  docs/conf.py
  docs/development.rst
  docs/index.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #18: Remove mermaid
  docs/README.md
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #53048: Periodic clean up for listener trash directory possible
  .gitlab-ci.yml
  Dockerfile
  VERSION.txt
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  appcenter_scripts/settings
  docs/conf.py
  src/HISTORY.rst
  src/listener_trash_cleaner.py
  src/tests/unittests/test_trash_collection.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #53048: Changelog
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #53048: remove staging docu jobs
  .gitlab-ci.yml
Due: none

Bug #53048: add missing entry in german changelog
  appcenter_scripts/README_UPDATE_DE
Due: none

Bug #53048: improve changelog
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #56265: update dependencies
  src/requirements.txt
Due: none

Bug #56265: replace UrlStr with AnyUrl
  src/tests/integration_tests/conftest.py
  src/ucsschool_id_connector/models.py
Due: none

Bug #56265: import response types from fastapi
  src/ucsschool_id_connector/http_api.py
Due: none

Bug #56265: fix type
  src/ucsschool_id_connector/ldap_access.py
Due: none

Bug #56265: add changelogs
  VERSION.txt
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  docs/conf.py
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #56265: with type error in error handling
  src/ucsschool_id_connector/rpc.py
Due: none

Bug #56265: unregister only if needed at test cleanup
  src/tests/conftest.py
Due: none

increase version to 2.2.8
  VERSION.txt
Due: none

Bug #56399: handle Pydantic upgrade, improve ListenerFileAttributeError exceptions (Issue #27)
  appcenter_scripts/README_UPDATE_EN
  docs/spelling_wordlist
  src/HISTORY.rst
  src/tests/unittests/test_models.py
  src/ucsschool_id_connector/models.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

remove typesense in docu
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

sphinx docker uses the correct default
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Fixed listener_trash_cleaner.
  Dockerfile
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
  src/tests/integration_tests/test_trash_collection.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc: Activate document search with Typesense
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc: Activate website tracking
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc: Revert content changes for document rebuild
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Revert "doc: Revert content changes for document rebuild"
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Bug #55344: compare OUs case insensitive
  src/plugins/packages/ucsschool_id_connector_defaults/distribution_group_base.py
  src/plugins/packages/ucsschool_id_connector_defaults/output_plugin_handler_base.py
  src/plugins/packages/ucsschool_id_connector_defaults/school_classes_kelvin.py
  src/plugins/packages/ucsschool_id_connector_defaults/user_handler_base.py
  src/plugins/plugins/distribution_user.py
  src/tests/integration_tests/conftest.py
  src/tests/integration_tests/test_school_classes.py
  src/tests/integration_tests/test_users.py
  src/ucsschool_id_connector/queues.py
  src/ucsschool_id_connector/rpc.py
Due: none

Bug #55344: adapt unit tests
  src/tests/conftest.py
  src/tests/unittests/test_kelvin_partial_group_sync.py
  src/tests/unittests/test_role_based_mapping.py
Due: none

Bug #55344: ignore OU case in ucsschoolRole
  src/plugins/packages/ucsschool_id_connector_defaults/output_plugin_handler_base.py
  src/plugins/plugins/kelvin_partial_group_sync_handlers.py
Due: none

Path conditions:
  docs-linkcheck: any of: docs/**/*, src/HISTORY.rst
  docs-spelling: any of: docs/**/*, src/HISTORY.rst
  docs-html: any of: docs/**/*, src/HISTORY.rst
  docs-pdf: any of: docs/**/*, src/HISTORY.rst
  docs-warnings: any of: docs/**/*
  docs-merge-to-one-artifact: any of: docs/**/*, src/HISTORY.rst
  review: any of: docs/**/*, src/HISTORY.rst
  pages: any of: docs/**/*, src/HISTORY.rst
  staging: any of: docs/**/*, src/HISTORY.rst
  docs-create-production-merge-request: any of: docs/**/*, src/HISTORY.rst
