Repository univention/ucsschool-id-connector: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-warnings, upload_appcenter_scripts_to_test_appcenter, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

docs-warnings:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends gcc g++
  - pip install -r src/requirements.txt

upload_appcenter_scripts_to_test_appcenter:
  stage: production
  image: $APPCENTER_CONTROL_IMAGE
  script:
  - APP_VERSION="$(cat VERSION.txt)"
  - cd appcenter_scripts/
  - echo "updating $APP_NAME=$APP_VERSION"
  - cp preinst.tmpl preinst
  ...

docs-linkcheck:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends gcc g++
  - pip install -r src/requirements.txt

docs-spelling:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends gcc g++
  - pip install -r src/requirements.txt

docs-html:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends gcc g++
  - pip install -r src/requirements.txt

docs-pdf:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends gcc g++
  - pip install -r src/requirements.txt

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

pages-review-url:
  stage: review
  script:
  - echo "DOC_REVIEW_URL=${CI_SERVER_PROTOCOL}://${CI_PROJECT_ROOT_NAMESPACE}.${CI_PAGES_DOMAIN}/-/${CI_PROJECT_PATH#${CI_PROJECT_ROOT_NAMESPACE}/}/-/jobs/$CI_JOB_ID/artifacts/out/$DOC_TARGET_NAME/index.html" > pages_review_url.env
  artifacts:
    reports:
  ...

pages-review:
  stage: review
  needs:
  - job: pages-review-url
  script:
  - 'true'
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: $DOC_REVIEW_URL

pages-staging:
  stage: staging
  image: $GIT_SYNC
  needs:
  - job: docs-merge-to-one-artifact
  script:
  - mv "$CI_PROJECT_DIR"/out/"$DOC_TARGET_NAME" public
  environment:
    name: staging/docs
    url: $CI_PAGES_URL
  artifacts:
    paths:
    - public

pages-production:
  stage: production
  script:
  - 'true'
  environment:
    name: production/docs
    url: https://docs.software-univention.de/ucsschool-id-connector/

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

ci: Move docs jobs to child pipeline
  .gitlab-ci-docs.yml
  .gitlab-ci.yml
Due: none

ci: Build dedicated Docker image for docs
  .gitlab-ci-docs.yml
  Dockerfile-docs
Due: none

docs(conf): Set version to 2.3.4
  docs/conf.py
Due: docs-warnings, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

docs: Replace sphinx toolbox
  docs/conf.py
  docs/development.rst
  docs/legend.txt
Due: docs-warnings, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

Resolve "[Tests] Access token for management api can expire"
  src/tests/integration_tests/conftest.py
Due: none

Issue univention/non-product-issues#93: Add issue template
  .gitlab/issue_templates/default.md
Due: none

Issue #53: validate version in pipeline
  .gitlab-ci.yml
  .gitlab-ci/increase_version
  .gitlab-ci/validate_version
Due: none

ci(docs): Remove deprated docs warnings job
  .gitlab-ci-docs.yml
Due: none

ci(docs): Remove duplicate $DOC_TARGET_PATH
  .gitlab-ci-docs.yml
Due: none

docs: Cleanup configuration
  docs/conf.py
Due: docs-warnings, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

docs: Fix title error for bibliography
  docs/bibliography.rst
Due: docs-warnings, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

Issue #1167: fix pytest-asyncio version due to breaking changes
  src/requirements.txt
Due: none

docu: add documentation for the school authority's trash directory
  .gitlab-ci.yml
  .isort.cfg
  docs/admin.rst
  docs/file_locations.rst
  src/tests/integration_tests/conftest.py
  src/tests/integration_tests/test_users.py
  src/tests/unittests/test_queues.py
  src/ucsschool_id_connector/queues.py
Due: docs-warnings, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

Issue #58: Mount certificate directory in Dockerfile.
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  appcenter_scripts/env
  appcenter_scripts/ucsschool-id-connector.ini
Due: upload_appcenter_scripts_to_test_appcenter

Restart on update-ca-certificates
  .gitlab-ci.yml
  README.rst
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  appcenter_scripts/env
  appcenter_scripts/preinst.tmpl
  appcenter_scripts/settings
  docs/admin.rst
  docs/file_locations.rst
  files/ca-certificates/update.d/ucsschool-id-connector
  src/HISTORY.rst
  src/README.rst
  src/plugins/packages/ucsschool_id_connector_defaults/kelvin_connection.py
  src/tests/integration_tests/conftest.py
  src/tests/integration_tests/test_school_classes.py
  src/tests/integration_tests/test_users.py
  src/tests/unittests/conftest.py
  src/tests/unittests/test_user_handler.py
  src/ucsschool_id_connector/constants.py
  src/ucsschool_id_connector/requests.py
Due: docs-warnings, upload_appcenter_scripts_to_test_appcenter, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

Clean up version handling
  .gitlab-ci.yml
  .gitlab-ci/increase_version
  .gitlab-ci/validate_version
  VERSION.txt
  appcenter_scripts/ucsschool-id-connector.ini
  ca-certificates.crt
  docs/conf.py
  ucs-root-ca.crt
  upload_app_settings_and_scripts
Due: docs-warnings, upload_appcenter_scripts_to_test_appcenter, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

Bug #54640: Migrate to ucs base image with s6 init system
  .gitlab-ci.yml
  Dockerfile
  README.rst
  alpine_apk_list.build
  alpine_apk_list.runtime
  appcenter_scripts/inst
  appcenter_scripts/ucsschool-id-connector.ini
  appcenter_scripts/uinst
  docs/admin.rst
  docs/development.rst
  init.d/ucsschool-id-connector-rest-api.initd.dev
  init.d/ucsschool-id-connector-rest-api.initd.final
  init.d/ucsschool-id-connector.initd
  s6-rc.d/ucsschool-id-connector-rest-api/run
  s6-rc.d/ucsschool-id-connector-rest-api/type
  s6-rc.d/user/contents.d/ucsschool-id-connector-rest-api
  src/HISTORY.rst
  src/README.rst
  src/listener_trash_cleaner.py
  src/queue_management
  src/requirements-dev.txt
  src/requirements.txt
  src/tests/integration_tests/test_trash_collection.py
  src/tests/integration_tests/test_users.py
  src/tests/unittests/test_trash_collection.py
  src/ucsschool_id_connector/constants.py
  src/ucsschool_id_connector/utils.py
Due: docs-warnings, upload_appcenter_scripts_to_test_appcenter, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

Switch to python 3.11
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.rst
  docs/conf.py
  docs/images/python-3-blue.svg
  docs/images/python-3.8-blue.svg
  docs/index.rst
  src/README.rst
  src/requirements-dev.txt
  src/tests/conftest.py
  src/ucsschool_id_connector/rpc.py
Due: docs-warnings, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

Move Dockerfile args
  Dockerfile
Due: none

Add renovate.json
  renovate.json
Due: none

refactor: Switch to poetry for packaging
  .gitlab-ci-docs.yml
  .gitlab-ci.yml
  .isort.cfg
  Dockerfile
  Makefile
  README.rst
  appcenter_scripts/inst
  docs/admin.rst
  requirements.txt
  s6-rc.d/ucsschool-id-connector-rest-api/run
  src/listener_trash_cleaner.py
  src/poetry.lock
  src/pyproject.toml
  src/requirements-dev.txt
  src/requirements.txt
  src/schedule_group
  src/schedule_user
  src/setup.cfg
  src/tests/unittests/test_deprecation.py
  src/tests/unittests/test_trash_collection.py
  src/ucsschool_id_connector/constants.py
  src/ucsschool_id_connector/http_api.py
  src/ucsschool_id_connector/scripts/__init__.py
  src/ucsschool_id_connector/scripts/listener_trash_cleaner.py
  src/ucsschool_id_connector/scripts/queue_management.py
  src/ucsschool_id_connector/scripts/schedule_group.py
  src/ucsschool_id_connector/scripts/schedule_school.py
  src/ucsschool_id_connector/scripts/schedule_user.py
  src/ucsschool_id_connector/utils.py
Due: docs-warnings, upload_appcenter_scripts_to_test_appcenter, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

refactor: Use pyproject.toml as leading source for version
  .gitlab-ci.yml
  .isort.cfg
  Dockerfile
  docs/conf.py
  docs/development.rst
  src/poetry.lock
  src/pyproject.toml
  src/tests/unittests/test_utils.py
  src/ucsschool_id_connector/utils.py
Due: docs-warnings, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

feat: add renovate
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci-docs.yml
  .gitlab-ci/gitlab-ci.yml
  Dockerfile
  renovate.json
Due: none

Update dependency ujson to v5
  src/poetry.lock
  src/pyproject.toml
Due: none

fix(deps): update minor & patch level from pypi
  Dockerfile
  src/poetry.lock
  src/pyproject.toml
Due: none

chore(deps): update gitregistry.knut.univention.de/univention/components/ucs-base-image/ucs-base-520 docker tag to v0.13.0
  Dockerfile
Due: none

chore(deps): update dependency black to v24
  src/poetry.lock
  src/pyproject.toml
Due: none

chore(deps): update dependency faker to v25
  src/poetry.lock
  src/pyproject.toml
Due: none

chore(deps): update dependency flake8 to v7
  src/poetry.lock
  src/pyproject.toml
Due: none

chore(deps): update dependency pytest to v8
  src/poetry.lock
  src/pyproject.toml
Due: none

python pydantic2 needs some serious refactoring
  renovate.json
  src/poetry.lock
  src/pyproject.toml
Due: none

Fix pyzmq package name
  src/poetry.lock
  src/pyproject.toml
Due: none

Add: ID Broker dependencies
  src/poetry.lock
  src/pyproject.toml
Due: none

Chore: Update lock file
  Dockerfile
  src/poetry.lock
Due: none

Fix: pin pytest-asyncio to < 0.22.0
  renovate.json
  src/poetry.lock
  src/pyproject.toml
Due: none

fix: pyzmq replaces zmq package
  src/poetry.lock
  src/pyproject.toml
Due: none

fix: Deleting a school authority doesn't clear plugin cache
  src/ucsschool_id_connector/rpc.py
Due: none

Changelog
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: upload_appcenter_scripts_to_test_appcenter, docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request

fix: doc pipeline needs older docutils version
  .gitlab-ci/gitlab-ci-docs.yml
Due: none

fix: Set app version to 3.0.0
  .gitlab-ci/gitlab-ci.yml
Due: none

Path conditions:
  docs-warnings: any of: docs/**/*
  upload_appcenter_scripts_to_test_appcenter: any of: appcenter_scripts/**, files/**
  docs-linkcheck: any of: docs/**/*, src/HISTORY.rst
  docs-spelling: any of: docs/**/*, src/HISTORY.rst
  docs-html: any of: docs/**/*, src/HISTORY.rst
  docs-pdf: any of: docs/**/*, src/HISTORY.rst
  docs-merge-to-one-artifact: any of: docs/**/*, src/HISTORY.rst
  pages-review-url: any of: docs/**/*, src/HISTORY.rst
  pages-review: any of: docs/**/*, src/HISTORY.rst
  pages-staging: any of: docs/**/*, src/HISTORY.rst
  pages-production: any of: docs/**/*, src/HISTORY.rst
  docs-create-production-merge-request: any of: docs/**/*, src/HISTORY.rst
