Repository univention/ucsschool-id-connector: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

docs-linkcheck:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends build-essential python3-dev pipx
  - PIPX_BIN_DIR="/usr/local/bin" pipx install poetry
  - poetry --directory=src export -f requirements.txt --output requirements.txt
  - pip3 install -r requirements.txt

docs-spelling:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends build-essential python3-dev pipx
  - PIPX_BIN_DIR="/usr/local/bin" pipx install poetry
  - poetry --directory=src export -f requirements.txt --output requirements.txt
  - pip3 install -r requirements.txt

docs-html:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends build-essential python3-dev pipx
  - PIPX_BIN_DIR="/usr/local/bin" pipx install poetry
  - poetry --directory=src export -f requirements.txt --output requirements.txt
  - pip3 install -r requirements.txt

docs-pdf:
  before_script:
  - apt-get update; apt-get install --assume-yes --no-install-recommends build-essential python3-dev pipx
  - PIPX_BIN_DIR="/usr/local/bin" pipx install poetry
  - poetry --directory=src export -f requirements.txt --output requirements.txt
  - pip3 install -r requirements.txt

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

pages-review-url:
  stage: review
  script:
  - echo "DOC_REVIEW_URL=${CI_SERVER_PROTOCOL}://${CI_PROJECT_ROOT_NAMESPACE}.${CI_PAGES_DOMAIN}/-/${CI_PROJECT_PATH#${CI_PROJECT_ROOT_NAMESPACE}/}/-/jobs/$CI_JOB_ID/artifacts/out/$DOC_TARGET_NAME/index.html" > pages_review_url.env
  artifacts:
    reports:
  ...

pages-review:
  stage: review
  needs:
  - job: pages-review-url
  script:
  - 'true'
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: $DOC_REVIEW_URL

pages-staging:
  stage: staging
  image: $GIT_SYNC
  needs:
  - job: docs-merge-to-one-artifact
  script:
  - mv "$CI_PROJECT_DIR"/out/"$DOC_TARGET_NAME" public
  environment:
    name: staging/docs
    url: $CI_PAGES_URL
  artifacts:
    paths:
    - public

pages-production:
  stage: production
  script:
  - 'true'
  environment:
    name: production/docs
    url: https://docs.software-univention.de/ucsschool-id-connector/

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

upload_appcenter_scripts_to_test_appcenter:
  stage: production
  image: $APPCENTER_CONTROL_IMAGE
  script:
  - APP_VERSION="$(cat VERSION.txt)"
  - cd appcenter_scripts/
  - echo "updating $APP_NAME=$APP_VERSION"
  - cp preinst.tmpl preinst
  ...

documentation:
  stage: build
  trigger:
    include:
    - local: .gitlab-ci-docs.yml
    strategy: depend

ci: base images have been moved
  Dockerfile
Due: none

ci: new images don't have an apt cache
  Dockerfile
Due: none

ci: add a commitBody to make pre-commit happy
  renovate.json
Due: none

feat: Support users with the legal guardian option
  src/plugins/packages/ucsschool_id_connector_defaults/user_handler_base.py
  src/plugins/packages/ucsschool_id_connector_defaults/users_kelvin.py
  src/ucsschool_id_connector/constants.py
  src/ucsschool_id_connector/ldap_access.py
  src/ucsschool_id_connector/models.py
  src/ucsschool_id_connector/plugins.py
  src/ucsschool_id_connector/school_scheduler.py
  src/ucsschool_id_connector/utils.py
Due: none

test: Adjust unit tests for legal guardian
  src/tests/unittests/test_kelvin_partial_group_sync.py
  src/tests/unittests/test_role_based_mapping.py
  src/tests/unittests/test_utils.py
Due: none

test: Adjust integration tests for the legal guardian
  src/tests/integration_tests/test_users.py
Due: none

feat: Skip legal guardian in the Kelvin plugin
  src/plugins/plugins/kelvin_handlers.py
Due: none

chore: update bandit
  .pre-commit-config.yaml
Due: none

docs: Update Changelog
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

chore: Update dependencies
  .gitlab-ci/gitlab-ci-docs.yml
  src/HISTORY.rst
  src/poetry.lock
  src/pyproject.toml
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

feat: Make legal-guardian user and attributes work with the kelvin-plugin
  examples/school_authority_kelvin.json
  examples/school_authority_role_specific_kelvin_mapping.json
  src/plugins/packages/ucsschool_id_connector_defaults/users_kelvin.py
  src/plugins/plugins/kelvin_handlers.py
  src/poetry.lock
  src/pyproject.toml
  src/ucsschool_id_connector/models.py
Due: none

test: Add integration-tests to legal-guardian code
  src/tests/integration_tests/conftest.py
  src/tests/integration_tests/test_users.py
Due: none

fix: Revert previous change to skip legal-guardian users
  src/tests/integration_tests/test_users.py
Due: none

test: Add unittest to legal-guardian code
  src/tests/unittests/test_models.py
  src/tests/unittests/test_user_handler.py
Due: none

docs: Add legal_guardian role
  docs/admin.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

docs: modify changelog entry
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

docs: add config validation explanation
  docs/admin.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

fix: move setuptools to dependencies
  src/poetry.lock
  src/pyproject.toml
Due: none

feat: Legal guardian requires UCS 5.2
  appcenter_scripts/ini
Due: upload_appcenter_scripts_to_test_appcenter

fix: set log file permission to 0o640 if file is not existing during startup
  product_tests/test_logs.py
  src/ucsschool_id_connector/utils.py
Due: none

ci: add SonarQube
  .gitlab-ci.yml
  .gitlab-ci/SonarQube.yml
  sonar-project.properties
Due: none

ci: update ucs_base_version and switch to app release component
  .gitlab-ci/gitlab-ci.yml
  appcenter_scripts/ini.jinja
Due: upload_appcenter_scripts_to_test_appcenter

docs: Update changelogs for 4.0.0
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, upload_appcenter_scripts_to_test_appcenter, documentation

docs: Explain synchronization behavior
  docs/admin.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

chore: Bump pyproject.toml version
  src/pyproject.toml
Due: none

docs: build appcenter changelog from docs
  .gitlab-ci/gitlab-ci.yml
  .isort.cfg
  .pre-commit-config.yaml
  appcenter_scripts/README_UPDATE_EN
  appcenter_scripts/README_UPDATE_EN.jinja
  build_appcenter_changelog.py
Due: upload_appcenter_scripts_to_test_appcenter

test: update doc8 linter
  .pre-commit-config.yaml
Due: none

docs: update ucs links for 5.2
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

chore: remove deprecated script path
  src/schedule_group
  src/schedule_school
  src/schedule_user
  src/tests/unittests/test_deprecation.py
  src/tests/unittests/test_schedule_group.py
  src/tests/unittests/test_schedule_school.py
  src/tests/unittests/test_schedule_user.py
Due: none

docs: update changelog
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, pages-review-url, pages-review, pages-staging, pages-production, docs-create-production-merge-request, documentation

test: the schedule_… tools are now part of the PATH
  product_tests/conftest.py
Due: none

ci: use the renovate and sonarqube CI components
  .gitlab-ci.yml
  .gitlab-ci/SonarQube.yml
  renovate.json
Due: none

ci: pin the remaining CI components to 2.12.0
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: let the SonarQube scan read the coverage report
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
  sonar-project.properties
Due: none

ci: report the test results with the allure component
  .gitignore
  .gitlab-ci/gitlab-ci.yml
  src/poetry.lock
  src/pyproject.toml
Due: none

fix(ci): let the coverage report ignore vanished sources
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: pin the allure component to 2.15.0
  .gitlab-ci/gitlab-ci.yml
Due: none

ci: let a schedule run the pipeline
  .gitlab-ci.yml
  .gitlab-ci/gitlab-ci.yml
Due: none

chore(config): migrate config renovate.json
  renovate.json
Due: none

build: replace black, isort, flake8 and bandit with ruff
  .black
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
  Makefile
  README.rst
  build_appcenter_changelog.py
  product_tests/test_http_api.py
  product_tests/utils.py
  ruff.toml
  src/plugins/packages/ucsschool_id_connector_defaults/group_handler_base.py
  src/plugins/packages/ucsschool_id_connector_defaults/output_plugin_handler_base.py
  src/plugins/packages/ucsschool_id_connector_defaults/user_handler_base.py
  src/plugins/packages/ucsschool_id_connector_defaults/users_kelvin.py
  src/plugins/plugins/distribution_user.py
  src/static/ucsschool_id_connector_password_hook.py
  src/tests/conftest.py
  src/tests/integration_tests/conftest.py
  src/tests/integration_tests/test_users.py
  src/tests/unittests/test_config_storage.py
  src/tests/unittests/test_http_api.py
  src/tests/unittests/test_schedule_group.py
  src/tests/unittests/test_schedule_school.py
  src/tests/unittests/test_schedule_user.py
  src/tests/unittests/test_utils.py
  src/ucsschool_id_connector/constants.py
  src/ucsschool_id_connector/models.py
  src/ucsschool_id_connector/queues.py
  src/ucsschool_id_connector/requests.py
  src/ucsschool_id_connector/scripts/queue_management.py
  src/ucsschool_id_connector/token_auth.py
  src/ucsschool_id_connector/utils.py
Due: none

Path conditions:
  docs-linkcheck: any of: docs/**/*, src/HISTORY.rst
  docs-spelling: any of: docs/**/*, src/HISTORY.rst
  docs-html: any of: docs/**/*, src/HISTORY.rst
  docs-pdf: any of: docs/**/*, src/HISTORY.rst
  docs-merge-to-one-artifact: any of: docs/**/*, src/HISTORY.rst
  pages-review-url: any of: docs/**/*, src/HISTORY.rst
  pages-review: any of: docs/**/*, src/HISTORY.rst
  pages-staging: any of: docs/**/*, src/HISTORY.rst
  pages-production: any of: docs/**/*, src/HISTORY.rst
  docs-create-production-merge-request: any of: docs/**/*, src/HISTORY.rst
  upload_appcenter_scripts_to_test_appcenter: any of: appcenter_scripts/**, files/**
  documentation: any of: docs/**/*, src/HISTORY.rst
