Repository univention/ucsschool-id-connector: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

docs-merge-to-one-artifact:
  needs:
  - job: docs-html
  - job: docs-pdf
  - job: docs-spelling
    artifacts: false
  - job: docs-linkcheck
    artifacts: false

review:
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  stage: review
  needs:
  - job: docs-merge-to-one-artifact
    artifacts: true
  script:
  - rsync -av --delete "$CI_PROJECT_DIR"/out/"$DOC_TARGET_NAME" /var/univention/buildsystem2/test_mirror/ftp/download/docs-ucsschool-id-connector.$CI_BUILD_REF_SLUG
  ...

pages:
  stage: staging
  image: $GIT_SYNC
  needs:
  - job: docs-merge-to-one-artifact
  script:
  - mv "$CI_PROJECT_DIR"/out/"$DOC_TARGET_NAME" public
  environment:
    name: pages/$CI_BUILD_REF_NAME
    url: https://univention.gitpages.knut.univention.de/components/$DOC_TARGET_NAME/
  artifacts:
    paths:
    - public
  ...

staging:
  variables:
    GIT_STRATEGY: none
  tags:
  - omar
  stage: staging
  script:
  - rsync -av --delete "$CI_PROJECT_DIR"/out/ /var/univention/buildsystem2/test_mirror/ftp/download/docs/"$DOC_TARGET_NAME"/
  environment:
    name: staging
    url: http://apt.knut.univention.de/download/docs/$DOC_TARGET_NAME/

docs-create-production-merge-request:
  needs:
  - job: docs-merge-to-one-artifact

Bug #55344: fix unittests
  src/tests/unittests/test_kelvin_partial_group_sync.py
Due: none

Issue #20: add changelog
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

(docu) docker image is build automatically
  docs/development.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

docu pipeline update
  .gitlab-ci.yml
  README.rst
Due: none

Disable review for default branch
  .gitlab-ci.yml
Due: none

test_users.py::test_modify_user() fails in 4.4
  src/setup.cfg
  src/tests/integration_tests/test_users.py
Due: none

adapt readme
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc: Remove unprofessional "Good luck"
  docs/admin.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #17: Add logrotate template and change Handler type
  .gitignore
  .gitlab-ci.yml
  VERSION.txt
  appcenter_scripts/preinst.tmpl
  files/logrotate.d/ucsschool-id-connector
  files/ucsschool-id-connector.univention-config-registry
  src/ucsschool_id_connector/utils.py
Due: none

Issue #42: id-connector release
  VERSION.txt
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  docs/conf.py
  docs/file_locations.rst
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #42: Fix formatting
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
Due: none

Issue #42: Prepare next release
  VERSION.txt
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  docs/conf.py
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #41: Add schedule_group command
  .gitlab-ci.yml
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  docs/development.rst
  src/schedule_group
  src/tests/conftest.py
  src/tests/unittests/test_schedule_group.py
  src/ucsschool_id_connector/group_scheduler.py
  src/ucsschool_id_connector/ldap_access.py
  src/ucsschool_id_connector/models.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

pytest-asyncio 0.23.0 currently breaks tests
  src/requirements.txt
Due: none

Issue #91: add schedule school command & ujson issue
  Dockerfile
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  docs/development.rst
  src/requirements.txt
  src/schedule_school
  src/setup.py
  src/tests/conftest.py
  src/tests/unittests/test_schedule_school.py
  src/ucsschool_id_connector/school_scheduler.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #44: fix patch of id connector school authority api
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
  src/tests/unittests/test_http_api.py
  src/tests/unittests/test_utils.py
  src/ucsschool_id_connector/http_api.py
  src/ucsschool_id_connector/ldap_access.py
  src/ucsschool_id_connector/rpc.py
  src/ucsschool_id_connector/utils.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

add changelog entry to history.rst
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Add appcenter ini
  appcenter_scripts/ucsschool-id-connector.ini
Due: none

Update version for next release
  VERSION.txt
  appcenter_scripts/ucsschool-id-connector.ini
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Upload appcenter ini
  .gitlab-ci.yml
Due: none

docs: Improve schedule command help messages
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
  src/schedule_group
  src/schedule_school
  src/schedule_user
  src/tests/unittests/test_schedule_school.py
  src/ucsschool_id_connector/group_scheduler.py
  src/ucsschool_id_connector/user_scheduler.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #45: adapt docker image
  appcenter_scripts/ucsschool-id-connector.ini
Due: none

Issue #45: prepare next version
  VERSION.txt
  appcenter_scripts/ucsschool-id-connector.ini
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #101:Fixing Dependencies
  appcenter_scripts/README_UPDATE_DE
  appcenter_scripts/README_UPDATE_EN
  src/HISTORY.rst
  src/requirements.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Issue #50: pin docker image
  appcenter_scripts/ucsschool-id-connector.ini
Due: none

Issue #50: prepare next release
  VERSION.txt
  appcenter_scripts/ucsschool-id-connector.ini
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc: Adhere doc configuration to style guide
  docs/conf.py
  docs/univention_rst_macros.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(index): Adhere to style guide
  docs/index.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(admin): Adhere to style guide
  docs/admin.rst
  docs/development.rst
  docs/univention_rst_macros.txt
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc: Add reference to UCS architecture manual
  docs/admin.rst
  docs/bibliography.bib
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

docs(conf): Set release to released document version 2.3.3
  docs/conf.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(source-doc): Add reference to docstrings
  .gitlab-ci.yml
  docs/conf.py
  docs/index.rst
  docs/source-docs.rst
  docs/spelling_wordlist
  src/ucsschool_id_connector/plugins.py
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(file_locations): Adhere to style guide
  docs/file_locations.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(index): Add definition for reader and required knowledge
  docs/index.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(development): Adhere to style guide
  docs/conf.py
  docs/development.rst
  docs/spelling_wordlist
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Revert "ci: Build dedicated Docker image for docs"
  .gitlab-ci-docs.yml
  Dockerfile-docs
Due: none

doc(example_json): Adhere to style guide
  docs/example_json.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(bibliography): Prevent double title in PDF builds
  docs/bibliography.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(admin): Add section about queues
  docs/admin.rst
  docs/file_locations.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-warnings, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

doc(history): Add some reST formatting
  src/HISTORY.rst
Due: docs-linkcheck, docs-spelling, docs-html, docs-pdf, docs-merge-to-one-artifact, review, pages, staging, docs-create-production-merge-request

Path conditions:
  docs-linkcheck: any of: docs/**/*, src/HISTORY.rst
  docs-spelling: any of: docs/**/*, src/HISTORY.rst
  docs-html: any of: docs/**/*, src/HISTORY.rst
  docs-pdf: any of: docs/**/*, src/HISTORY.rst
  docs-warnings: any of: docs/**/*
  docs-merge-to-one-artifact: any of: docs/**/*, src/HISTORY.rst
  review: any of: docs/**/*, src/HISTORY.rst
  pages: any of: docs/**/*, src/HISTORY.rst
  staging: any of: docs/**/*, src/HISTORY.rst
  docs-create-production-merge-request: any of: docs/**/*, src/HISTORY.rst
